.song-title {
    font-size: 48px;
    font-weight: 600;
    margin-top: 10%;
}

.song-artists {
    font-size: 32px;
    font-weight: 400;
    color:grey;
}

.album-img-info {
    border-radius: 7px;
    margin-top: 20%;
}

.info-label {
    color: grey;
    margin-top: 10%;
    font-size: 20px;
}

.album-info {
    font-size: 32px;
}

.audio-player {
    margin-top: 20px;
}

.song-details {
    padding-left: 5%;
}

h3 {
    text-align: center;
}

.adjust {
    padding-left: 1.5rem;
}
