.navbar {
    text-align: center;
    font-size: 22px;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-nav {
    text-align: center;
}
.nav-link {
    margin-left: 32px;
}
.navbar-right {
    margin-left: 200px;
}

.btn-pink {
    background-color: #D58DC2;
}

@media (max-width : 800px) {
    .nav-link {
        padding-bottom: 15px;
    }
    .d-flex {
            margin-left: auto;
            margin-right: auto;
        }

}

