.container-sm.artist {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #212529;
    border-radius: 40px;
}